@model HospitalManagementSystem.Models.DoctorDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Doctor?</h2>
<nav>
    <ul>
        <li><a href="/Doctor/List">Cancel</a></li>
        <li><a href="/Doctor/Edit/@Model.DoctorId">Update</a></li>
    </ul>
</nav>
<h3>@Model.DoctorName</h3>
<div>Description: @Model.DoctorDescription kg</div>
<div>Parking Position: @Model.ParkingPosition</div>
<form action="/Doctor/Delete/@Model.DoctorId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>

