@model HospitalManagementSystem.Models.AppointmentDto
@{
    ViewBag.Title = "View";
}
<div class="AppointmentDetail-container">
    <a href="/Appointments/List" class="go-Back-List">Go back to list</a>
    <br />
    <a href="/Appointments/Edit/@Model.AppointmentId" class="update-Appointment">Update Appointment Details</a>
    <div class="card-container">
        <h1>@Model.AppointmentId</h1>
        <h2 class="AppointmentName">@Model.AppointmentDateAndTime</h2>
        <div class="AppointmentDoctor">@Model.PatientName</div>
        <br />
    </div>
    <a href="/Appointments/DeleteConfirm/@Model.AppointmentId" class="Delete">Delete</a>
</div>
<style>
    /* Button Link */
    .go-Back-List,
    .update-Appointment,
    .Delete {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        margin-bottom: 10px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    a.Delete {
        float: right;
        margin-top: 20px;
    }

    .AppointmentDetail-container {
        padding: 57px;
    }

    .go-Back-List:hover,
    .update-Appointment:hover {
        background-color: #0056b3;
        color: #fff;
    }

    .Delete:hover {
        background-color: red;
        color: black;
    }
    /* Card Container */
    .card-container {
        background-color: #eaeae8;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 0 auto;
    }
    /* Heading */
    .AppointmentName {
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    /* Subheading */
    .AppointmentPhone,
    .AppointmentEmail,
    .AppointmentDetail,
    .AppointmentAddress,
    .AppointmentDoctor {
        font-size: 16px;
        color: #777;
    }

    .AppointmentDetails {
        margin-bottom: 10px;
    }

    .AppointmentAddress,
    .AppointmentDoctor {
        margin-top: 10px;
    }
</style>