
@{
    ViewBag.Title = "New";
}

<a href="/Medicine/List">Go back to list</a>
<h2>Add Medicine</h2>
<form action="/Medicine/Create" method="POST">
    <div>
        <label>Medicine Name:</label> <input type="text" name="MedicineName" />
    </div>
    <div>
        <label>Dose Per Day:</label> <input type="text" name="DosePerDay" />
    </div>
    <div>
        <input type="submit" value="Add Medicine" />

    </div>
</form>

